<%= flash[:notice].to_s + flash[:error].to_s %>
<% form_for [:admin, @book] do |f| %>
  <h3>Title</h3>
  <fieldset>
    <p>
      <label for="short_title">Short Title:</label>
      <%= f.text_field :short_title, :class => 'text-medium' %>
    </p>
    <p>
      <label>Full Title:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :full_title, :class => 'text-long' %>
    </p>
  </fieldset>

  <h3>Content</h3>
  <fieldset>
    <p>
      <label>Brief Description:</label>
      <%= f.text_area :brief_description %>
    </p>
    <p>
      <label>Full Description:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_area :full_description %>
    </p>
    <p>
      <label>End Line:</label>
      <%= f.text_field :endline, :class => 'text-medium' %>
    </p>
    <p>
      <label>Notes:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_area :notes %>
    </p>
  </fieldset>

  <h3>Publisher Information:</h3>
  <fieldset>
    <p>
      <label>Publisher:</label>
      <%= f.text_field :publisher, :class => 'text-long' %>
    </p>
    <p>
      <label>Location:</label>
      <%= f.text_field :publication_location, :class => 'text-long' %>
    </p>
    <p>
      <label>Date Published:</label>
      <%= f.text_field :date, :class => 'text-small' %>
    </p>
  </fieldset>

  <h3>Original Information:</h3>
  <fieldset>
    <p>
      <label>Cover:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <input type="text" name="cover" id="cover" class="text-long" value="Fill with file attachment" />
    </p>
    <p>
      <label>Source:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :origin, :class => 'text-long' %>
    </p>
    <p>
      <label>Language:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :language, :class => 'text-long' %>
    </p>
    <p>
      <label>Number of Pages:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <input type="text" name="book[number_of_pages]" id="number_of_pages" class="text-small" />
      <%= f.text_field :number_of_pages, :class => 'text-long' %>
    </p>
    <p>
      <label>Size:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :size, :class => 'text-long' %>
    </p>
    <p>
      <label>Location of Original:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :location_of_original, :class => 'text-long' %>
    </p>
    <p>
      <label>Part of RRs Collection?</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= check_box 'book', 'rrs' %>
    </p>
    <p>
      <label>Condition:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :condition, :class => 'text-medium' %>
    </p>
    <p>
      <label>Printer:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :printer, :class => 'text-long' %>
    </p>
  </fieldset>

  <h3>Extra Information:</h3>
  <fieldset>
    <p>
      <label>Bibliography:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_area :bibliography %>
    </p>
    <p>
      <label>ISBN #:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :isbn, :class => 'text-medium' %>
    </p>
    <p>
      <label>ID #:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :id_number, :class => 'text-medium' %>
    </p>
    <p>
      <label>Spare 1:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :spare1, :class => 'text-medium' %>
    </p>
    <p>
      <label>Spare 2:</label>
      <span class="blue_span">(Does not appear in public)</span><br />
      <%= f.text_field :spare2, :class => 'text-medium' %>
    </p>
  </fieldset>

  <input type="submit" value="Create New Book" />
<% end %>
<% content_for :head do %>
  <%= include_puny_mce :plugins => %w(Paste Link TextColor Entities EditSource) %>
<% end %>
<%= puny_mce [%w(notes book_notes), %w(brief_description book_brief_description), %w(full_description book_full_description), %w(bibliography book_bibliography)], :profile => :source %>
