<div class="titlediv">
  <p id="blog-title"><%= @category.title.upcase %></p>
  <p class="legend">
    <% @category.languages.each do |l| %>
      <%= l.language + ': ' + l.words %><br />
    <% end %>
  </p>
  <p class="legend">Authorities: <%= @category.authorities %></p>
  <p class="legend"><a href="/authorities.html">(What is this?)</a></p>  
</div>
<table class="menutable" align="center" border="0" width="75%">
  <tbody>
    <tr>
      <td style="width: <%= @width %>" ><a href="/">Home</a></td>
      <td style="width: <%= @width %>"><div align="center"><a href="/categories/books">Bibliography</a></div></td>
      <td style="width: <%= @width %>" ><a href="/categories/scholars">Modern Scholarship</a></td>
    </tr>
  </tbody>
</table>
<div>
  <% @books.each do |book| %>
    <p <%= book.brief_description ? 'class="bookwithdescription"' : 'class="booknodescription"' %>><strong><%= book.authors[0].last_name + ', ' if book.authors[0].last_name %></strong><%= book.authors[0].first_name %> <em><%= book.short_title %></em> <%= book.publication_location + ':' if book.publication_location %> <%= book.publisher if book.publisher %><%= ', ' + book.date if book.date %></p>
    <p class="description"><%= book.brief_description %></p>
  <% end %>
</div>
<table class="menutable" align="center" border="0" width="75%">
  <tbody>
    <tr>
      <td style="width: <%= @width %>" ><a href="/">Home</a></td>
      <td style="width: <%= @width %>"><div align="center"><a href="/categories/books">Bibliography</a></div></td>
      <td style="width: <%= @width %>" ><a href="/categories/scholars">Modern Scholarship</a></td>
    </tr>
  </tbody>
</table>
