<% form_for [:admin, @category] do |f| %>
  <h3>Essentials</h3>
  <fieldset>
    <p><label>Title:</label><%= f.text_field :title, :class => 'text-long' %></p>
    <p><label>Redirect To:</label>
      <input type="text" class="text-long autocomplete" />
      <input type="hidden" name="category[redirect_id]" >
    </p>
    <div class="ui-state-highlight redirect">
      <span class="ui-icon ui-icon-radio-on bullet"></span>
      <span id="redirect"></span>
      <a href="javascript:void(0)" class="close"><span class="ui-icon ui-icon-close"></span></a>
    </div>
  </fieldset>

    <h3>Category Text</h3>
    <fieldset>
      <p><label>Authorities:</label><%= f.text_field :authorities, :class => 'text-long' %></p>
      <p><label>Body:</label><%= f.text_area :body %></p>
      <p><label>Extra:</label><%= f.text_area :extra %></p>
      <input type="submit" value="<%= submit_label %>" />
    </fieldset>

    <h3>Alternate Languages for Title</h3>
    <fieldset class="languages">
    <% f.fields_for :languages do |language| %>
      <div class="language">
        <p><label>Language:</label><%= language.text_field :language, :class => 'text-long' %></p>
      </div>
      <div class="words">
        <p><label>Words:</label><%= language.text_field :words, :class => 'text-long' %>
          <a href="javascript:void(0)" id="add_language"><span class="add_language"></span></a>
        </p>
      </div>
    <% end %>
    </fieldset>
<% end %>
<% content_for :head do %>
  <%= include_puny_mce :plugins => %w(Paste Image Link TextColor EditSource Entities) %>
<% end %>
<%= puny_mce [%w(body category_body), %w(extra category_extra)], :profile => :almost %>
