<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Camrax Admin</title>

<!-- CSS -->
<link href="/stylesheets/transdmin.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie7.css" /><![endif]-->
<link href="/stylesheets/jquery-ui-1.8.6.custom.css" rel="stylesheet" type="text/css" media="screen" />

<!-- JavaScripts-->
<%= javascript_include_tag :ckeditor %>
<%= yield :head %>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/jNice.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
</head>

<body>
	<div id="wrapper">
    	<!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
    	<h1>The Library of Symbolism</h1>
        
        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">
        	<li><a href="#" class="active">ADMINISTRATION</a></li> <!-- Use the "active" class for the active menu item  -->
        	<li class="logout"><a href="/admin/logout">LOGOUT</a></li>
        </ul>
        <!-- // #end mainNav -->
        
        <div id="containerHolder">
          <div id="container">
            <div id="sidebar">
              <ul class="sideNav">
                <li><a href="/admin/categories" <%= 'class="active"' if controller.controller_name == 'categories' %>>Categories</a>
                <% if @cat_expanded %>
                  <ul class="nested_menu">
                    <li class="nested_item"><a href="/admin/categories/list">View All</a></li>
                    <li class="nested_item last"><a href="/admin/categories/new">Add Category</a></li>
                  </ul>
                <% end %>
                </li>
                <li><a href="/admin/books/" <%= 'class="active"' if controller.controller_name == 'books' %>>Books</a>
                <% if @books_expanded %>
                  <ul class="nested_menu">
                    <li class="nested_item"><a href="/admin/books/list">View All</a></li>
                    <li class="nested_item last"><a href="/admin/books/new">Add Book</a></li>
                  </ul>
                <% end %>
                </li>
              </ul>
              <!-- // .sideNav -->
            </div>    
            <!-- // #sidebar -->
                
            <!-- h2 stays for breadcrumbs -->
            <h2><a href="#"><%= @title %></a>
              <% if @subtitle %>
                &raquo; <a href="#" class="active"><%= @subtitle %></a>
              <% end %>
            </h2>
            
            <div id="main">
              <%= yield %>
            </div>
            <!-- // #main -->
            
            <div class="clear"></div>
          </div>
            <!-- // #container -->
        </div>	
        <!-- // #containerHolder -->
        
        <p id="footer">Feel free to use and customize it. <a href="http://www.perspectived.com">Credit is appreciated.</a></p>
    </div>
    <!-- // #wrapper -->
</body>
</html>
