<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <link href="/stylesheets/camrax.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/book.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/nav.css" rel="stylesheet" type="text/css">
  <%= javascript_include_tag :ckeditor %>

  <title>Symbolic Literature of the Renaissance</title>

  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <meta name="keywords" content="symbols, symbolism, literature, renaissance literature, emblems, devices, enigmas, hieroglyphs, signs, allegories, bestiaries, dreams, epigrams, exempla, fables, figure poems, herbals, iconologies, imprese, lapidaries, mythologies, paradoxes, prophesies, proverbs, rebuses, reverses, similitudes, talismans, visions, volucraries, oracles, masques, epics, mysticism, Platonism, Plato, Aristotle, occult, magic, Hermetism, Alchemy, Kabbala">
  <meta name="Description" content="A vast body of literature which climaxed two thousand years of the symbolic culture of Western Europe, combining neoPlatonism, kabbalism, alchemy, magic, hermetism, elements of rhetoric, the Greek myths, fables, proverbs and aphorisms of the Christian fathers.">

</head>
<body>
  <table>
  <tbody><tr>
    <td colspan="2"><table align="center">
  <tbody><tr align="center">
  </tr><tr align="center"><td style="padding-right: 50px;">
  </td><td colspan="2" align="center" nowrap="nowrap">
  <a style="font-variant: small-caps; font-size: 16px;" href="http://www.camrax.com/symbol/index.php4">home</a>
  <a style="font-variant: small-caps; font-size: 16px;" href="http://www.camrax.com/symbol/authors1.php4">authors</a>      
  <a style="font-variant: small-caps; font-size: 16px;" href="http://www.camrax.com/symbol/books1.php4">books</a>
  <a style="font-variant: small-caps; font-size: 16px;" href="http://www.camrax.com/symbol/contributionsandcontributors.php4">contributors</a>
  <a style="font-variant: small-caps; font-size: 16px;" href="http://www.camrax.com/symbol/literarysymbolism.php4">books for sale</a>
  <a style="font-variant: small-caps; font-size: 16px;" href="http://www.camrax.com/symbol/links.php4">links</a></td><td></td></tr>
  <tr>
  <td style="padding-right: 50px;">
  <a href="http://www.camrax.com/symbol/rabelais.php4"><img src="/images/rabelaisphotos.gif" border="0" height="31"></a>
  <a href="http://www.camrax.com/symbol/moreslideshows.php4"><img src="/images/horapollophotos.gif" border="0" height="31"></a>
  </td>
  <td colspan="2" align="center" nowrap="nowrap">

  <span class="site-title" style="font-size: 20pt;">The Library of Symbolism</span><br>
  <span class="site-title" style="font-size: 10pt; color: gray;">The Symbolic Literature of the Renaissance</span>
  </td>
  <td style="padding-left: 50px;" align="left">
  <a href="http://www.camrax.com/symbol/newsletters.php4"><img src="/images/newsletter.png" style="margin-bottom: 8px; height: 25px;" border="0"></a><a href="http://www.camrax.com/symbol/bookservice.php4"><img style="height: 30px;" src="/images/bookfinding.png" border="0"></a>

  </td>
  </tr>
  <tr align="center" valign="top">
  <td></td>
  <td style="font-variant: small-caps;" nowrap="nowrap">Find On Worldcat<br>
  <!-- BEGIN worldcat.org search box -->
  <div id="wcs2w">
  <form name="wcfw" id="wcfw" method="get" accept-charset="UTF-8" action="http://worldcat.org/search" target="_blank" style="margin: 0pt;">
  <input name="qt" value="affiliate" type="hidden">
  <input name="ai" value="Columbia_benheller" type="hidden">
  <table> 
  <tbody><tr nowrap="nowrap">
  <td align="right" nowrap="nowrap"><input name="q" id="q" size="20" maxlength="80" style="border: 1px solid rgb(153, 153, 153); font: 12px 'Arial Unicode MS',Arial,Helvetica,Verdana,sans-serif; width: 150px;" type="text"></td>
  <td align="left" nowrap="nowrap"><input name="wcsbtn2w" id="wcsbtn2w" src="/images/worldcat.jpg" alt="Search WorldCat" title="Search WorldCat" type="image"></td>
  </tr>
  </tbody></table>
  </form>
  </div>
  <!-- END worldcat.org search box -->
  </td>
  <td style="font-variant: small-caps;" nowrap="nowrap">Find On This Site<br>
  <!-- SiteSearch Google -->
  <div style="margin-top: 3px;">
  <form action="search.php4" id="cse-search-box">
    <div>
      <input name="cx" value="004666457308007654634:vidpqehs6l8" type="hidden">
      <input name="cof" value="FORID:9" type="hidden">
      <input name="ie" value="UTF-8" type="hidden">
      <input style="border: 1px solid rgb(126, 157, 185); padding: 2px; background: url(&quot;http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif&quot;) no-repeat scroll left center rgb(255, 255, 255);" name="q" size="20" type="text">
      <input name="sa" value="Search" type="submit">
    </div>
  <input value="www.camrax.com/symbol/" name="siteurl" type="hidden"></form>
  <script type="text/javascript" src="/javascripts/brand.js"></script>
  </div>
  <!-- SiteSearch Google -->
  </td>
  <td></td>
  </tr>
  </tbody></table>
    </td>
  </tr>
  <tr>
    <td valign="top" width="170">
  <style type="text/css">

  #topbar{
  position:relative;
  border: 0px solid black;
  padding: 0px;
  background-color: white;
  width: 170px;
  visibility: hidden;
  z-index: 100;
  }
  </style>
  <script type="text/javascript">

  /***********************************************
  * Floating Top Bar script- © Dynamic Drive (www.dynamicdrive.com)
  * Sliding routine by Roy Whittle (http://www.javascript-fx.com/)
  * This notice must stay intact for legal use.
  * Visit http://www.dynamicdrive.com/ for full source code
  ***********************************************/

  var persistclose=0 //set to 0 or 1. 1 means once the bar is manually closed, it will remain closed for browser session
  var startX = 0 //set x offset of bar in pixels
  var startY = 0 //set y offset of bar in pixels
  var verticalpos="fromtop" //enter "fromtop" or "frombottom"

  function iecompattest(){
  return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
  }

  function get_cookie(Name) {
  var search = Name + "="
  var returnvalue = "";
  if (document.cookie.length > 0) {
  offset = document.cookie.indexOf(search)
  if (offset != -1) {
  offset += search.length
  end = document.cookie.indexOf(";", offset);
  if (end == -1) end = document.cookie.length;
  returnvalue=unescape(document.cookie.substring(offset, end))
  }
  }
  return returnvalue;
  }

  function closebar(){
  if (persistclose)
  document.cookie="remainclosed=1"
  document.getElementById("topbar").style.visibility="hidden"
  }

  function staticbar(){
          barheight=document.getElementById("topbar").offsetHeight
          var ns = (navigator.appName.indexOf("Netscape") != -1) || window.opera;
          var d = document;
          function ml(id){
                  var el=d.getElementById(id);
                  if (!persistclose || persistclose && get_cookie("remainclosed")=="")
                  el.style.visibility="visible"
                  if(d.layers)el.style=el;
                  el.sP=function(x,y){this.style.left=x+"px";this.style.top=y+"px";};
                  el.x = startX;
                  if (verticalpos=="fromtop")
                  el.y = startY;
                  else{
                  el.y = ns ? pageYOffset + innerHeight : iecompattest().scrollTop + iecompattest().clientHeight;
                  el.y -= startY;
                  }
                  return el;
          }
          window.stayTopLeft=function(){
                  if (verticalpos=="fromtop"){
                  var pY = ns ? pageYOffset : iecompattest().scrollTop;
                  ftlObj.y += (pY + startY - ftlObj.y)/20;
                  }
                  else{
                  var pY = ns ? pageYOffset + innerHeight - barheight: iecompattest().scrollTop + iecompattest().clientHeight - barheight;
                  ftlObj.y += (pY - startY - ftlObj.y)/10;
                  }
                  ftlObj.sP(ftlObj.x, ftlObj.y);
                  setTimeout("stayTopLeft()", 10);
          }
          ftlObj = ml("topbar");
          stayTopLeft();
  }

  if (window.addEventListener)
  window.addEventListener("load", staticbar, false)
  else if (window.attachEvent)
  window.attachEvent("onload", staticbar)
  else if (document.getElementById)
  window.onload=staticbar
  </script>
  <script type="text/javascript" src="/javascripts/mm_css_menu.js"></script>


  <div style="visibility: visible; left: 0px; top: 0.00000103896px;" id="topbar">
    <div align="center"><a href="" class="menutext" onclick="closebar(); return false"></a></div>
    <div id="FWTableContainer1219090495"> <img name="nav" src="/images/nav.jpg" id="nav" usemap="#m_nav" alt="" border="0" height="372" width="170">
      <map name="m_nav" id="m_nav">
        <area shape="rect" coords="43,207,68,221" href="http://www.camrax.com/symbol/mainliststatic.php4" alt="">
        <area shape="rect" coords="151,353,168,369" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerW', 'menuW',91,329,'nav');">
        <area shape="rect" coords="153,337,167,350" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerV', 'menuV',86,329,'nav');">
        <area shape="rect" coords="153,319,168,334" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerT', 'menuT',53,189,'nav');">
        <area shape="rect" coords="154,302,168,316" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerS', 'menuS',54,209,'nav');">
        <area shape="rect" coords="153,285,168,300" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerR', 'menuR',28,285,'nav');">
        <area shape="rect" coords="153,267,167,280" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerP', 'menuP',61,229,'nav');">
        <area shape="rect" coords="152,249,167,264" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerO', 'menuO',103,249,'nav');">
        <area shape="rect" coords="152,233,167,247" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerN', 'menuN',99,233,'nav');">
        <area shape="rect" coords="152,215,167,230" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerM', 'menuM',42,215,'nav');">
        <area shape="rect" coords="153,198,167,213" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerL', 'menuL',90,198,'nav');">
        <area shape="rect" coords="152,179,168,195" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerJ', 'menuJ',112,179,'nav');">
        <area shape="rect" coords="154,162,168,176" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerI', 'menuI',84,162,'nav');">
        <area shape="rect" coords="153,143,167,158" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerH', 'menuH',74,144,'nav');">
        <area shape="rect" coords="152,126,167,142" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerG', 'menuG',98,126,'nav');">
        <area shape="rect" coords="153,109,169,124" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerF', 'menuF',53,109,'nav');">
        <area shape="rect" coords="153,93,168,107" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerE', 'menuE',28,93,'nav');">
        <area shape="rect" coords="154,75,168,89" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerD', 'menuD',29,75,'nav');">
        <area shape="rect" coords="153,41,168,55" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerB', 'menuB',78,42,'nav');">
        <area shape="rect" coords="154,58,168,72" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerC', 'menuC',-6,58,'nav');">
        <area shape="rect" coords="153,24,168,37" href="javascript:;" alt="" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('menuContainerA', 'menuA',63,24,'nav');">
      </map>
      <% @alphabet.each do |letter| %>
        <% if @menu_categories[letter] %>
          <div id="menuContainer<%= letter.upcase %>">
            <div id="menu<%= letter.upcase %>" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuResetTimeout();">
              <% @menu_categories[letter].length.times do |index| category = @menu_categories[letter][index] %>
              <a href="/categories/<%= category.id %>" id="menu<%= letter.upcase %>_Item_<%= index %>" class="MMMIFVStylemenu<%= letter.upcase %>" onmouseover="MM_menuOverMenuItem('menu<%= letter.upcase %>');"> <%= category.title %> </a>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  </div>
  </td>
  <td style="width: 1046px;" valign="top">
    <%= yield %>
  </td>
  </tr>
  </tbody>
  </table>
</body>
</html>
